[submodule "src/check"]
	path = src/check
	url = git@github.com:BrandonMFong/check.git
[submodule "src/cpy"]
	path = src/cpy
	url = git@github.com:BrandonMFong/cpy.git
[submodule "src/define"]
	path = src/define
	url = git@github.com:BrandonMFong/define.git
[submodule "src/listdir"]
	path = src/listdir
	url = git@github.com:BrandonMFong/listdir.git
[submodule "src/getpath"]
	path = src/getpath
	url = git@github.com:BrandonMFong/getpath.git
