[submodule "src/check"]
	path = src/check
	url = git@github.com:BrandonMFong/check.git
[submodule "src/cpy"]
	path = src/cpy
	url = git@github.com:BrandonMFong/cpy.git
[submodule "src/define"]
	path = src/define
	url = git@github.com:BrandonMFong/define.git
[submodule "src/listdir"]
	path = src/listdir
	url = git@github.com:BrandonMFong/listdir.git
[submodule "src/getpath"]
	path = src/getpath
	url = git@github.com:BrandonMFong/getpath.git
[submodule "src/mytime"]
	path = src/mytime
	url = git@github.com:BrandonMFong/mytime.git
[submodule "src/organize"]
	path = src/organize
	url = git@github.com:BrandonMFong/organize.git
[submodule "src/passgen"]
	path = src/passgen
	url = git@github.com:BrandonMFong/passgen.git
[submodule "src/search"]
	path = src/search
	url = git@github.com:BrandonMFong/search.git
[submodule "src/spellcheck"]
	path = src/spellcheck
	url = git@github.com:BrandonMFong/spellcheck.git
[submodule "src/archiver"]
	path = src/archiver
	url = git@github.com:BrandonMFong/archiver.git
[submodule "src/chat"]
	path = src/chat
	url = git@github.com:BrandonMFong/chat.git
